# .gitignore
# 首先忽略所有的文件
*
# 但是不忽略目录
!*/
# 忽略一些指定的目录名
ut/
runs/
.vscode/
build/
result1/
result/
mytest/
mytest_double/
pretrained_model/
gangao/
extra/
ccpd/
*.pyc
# 不忽略下面指定的文件类型
!*.cpp
!*.h
!*.hpp
!*.c
!.gitignore
!*.py
!*.sh
!*.npy
!*.jpg
!*.pt
!*.npy
!*.pth
!*.png
!*.yaml
!*.md